@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-white text-body-color;
  }
}

@layer components {
  /*pour  les composants personnalisés */
}

@layer utilities {
  /*pour les utilitaires personnalisés */
}
